@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
}

body {
    margin: 0;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Inter', sans-serif;
}